In [ ]:

!pip install joypy



from google.colab import drive
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import transforms
from statsmodels.graphics.gofplots import qqplot
from joypy import joyplot

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting joypy
  Downloading joypy-0.2.6-py2.py3-none-any.whl (8.6 kB)
Requirement already satisfied: scipy>=0.11.0 in /usr/local/lib/python3.7/dist-packages (from joypy) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from joypy) (3.2.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from joypy) (1.21.6)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from joypy) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->joypy) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->joypy) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.20.0->joypy) (1.15.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->joypy) (1.4.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->joypy) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->joypy) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->joypy) (4.1.1)
Installing collected packages: joypy
Successfully installed joypy-0.2.6

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
filepath = "/content/drive/MyDrive/IDA/maindata/MainData.csv"
data_img = pd.read_csv(filepath)
data_img

,Image,Subject,PH,PA,PL,BH,BA,BL,MBH,MBA,...,GBA,GBL,GNH,GNA,GNL,SPH,SPA,SPL,PN,OR
0,2,1,2,4,2,1,2,3,1,1,...,1,3,3,3,3,2,2,3,4,4
1,2,2,2,4,5,2,3,3,1,2,...,1,1,4,3,4,3,3,4,5,5
2,2,3,4,3,2,2,2,4,1,3,...,2,2,5,5,4,4,3,5,3,2
3,2,4,5,5,3,2,2,4,4,3,...,1,1,5,3,4,4,4,1,2,2
4,2,5,3,2,5,1,3,5,3,2,...,4,3,3,4,3,4,3,3,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,47,157,3,2,3,2,3,3,2,3,...,1,2,4,5,5,5,5,5,5,5
157,47,158,3,5,4,1,1,2,1,1,...,1,1,4,3,4,2,5,4,4,5
158,47,159,3,1,4,1,1,2,2,2,...,2,2,3,4,4,4,3,4,4,4
159,47,160,1,1,2,1,1,1,1,3,...,2,1,4,3,3,1,3,3,4,2
160,47,161,1,3,3,2,1,1,2,3,...,3,3,2,4,3,2,4,4,5,5

In [ ]:
data_img.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Image    161 non-null    int64
 1   Subject  161 non-null    int64
 2   PH       161 non-null    int64
 3   PA       161 non-null    int64
 4   PL       161 non-null    int64
 5   BH       161 non-null    int64
 6   BA       161 non-null    int64
 7   BL       161 non-null    int64
 8   MBH      161 non-null    int64
 9   MBA      161 non-null    int64
 10  MBL      161 non-null    int64
 11  GBH      161 non-null    int64
 12  GBA      161 non-null    int64
 13  GBL      161 non-null    int64
 14  GNH      161 non-null    int64
 15  GNA      161 non-null    int64
 16  GNL      161 non-null    int64
 17  SPH      161 non-null    int64
 18  SPA      161 non-null    int64
 19  SPL      161 non-null    int64
 20  PN       161 non-null    int64
 21  OR       161 non-null    int64
dtypes: int64(22)
memory usage: 27.8 KB

DATA OF IMAGE 2

In [ ]:
df=data_img.loc[data_img['Image'] == 2]
print(df)

    Image  Subject  PH  PA  PL  BH  BA  BL  MBH  MBA  ...  GBA  GBL  GNH  GNA  \
0       2        1   2   4   2   1   2   3    1    1  ...    1    3    3    3
1       2        2   2   4   5   2   3   3    1    2  ...    1    1    4    3
2       2        3   4   3   2   2   2   4    1    3  ...    2    2    5    5
3       2        4   5   5   3   2   2   4    4    3  ...    1    1    5    3
4       2        5   3   2   5   1   3   5    3    2  ...    4    3    3    4
5       2        6   2   2   3   2   2   5    1    1  ...    1    2    3    3
6       2        7   3   4   5   3   3   1    3    2  ...    1    3    3    2
7       2        8   4   2   3   4   4   3    2    4  ...    3    3    3    4
8       2        9   1   1   3   3   3   4    1    3  ...    1    2    1    1
9       2       10   3   3   3   3   2   4    1    2  ...    1    1    2    2
10      2       11   5   5   4   2   2   4    2    1  ...    1    1    2    5
11      2       12   3   3   4   2   2   3    1    2  ...    1    1    3    2
12      2       13   3   4   4   3   4   4    1    2  ...    1    1    2    3
13      2       14   5   5   2   4   2   3    4    3  ...    1    4    2    2
14      2       15   5   3   5   1   2   3    2    2  ...    1    1    4    3
15      2       16   1   2   1   1   1   1    5    1  ...    1    2    3    4
16      2       17   4   4   4   2   3   4    4    2  ...    1    1    2    4
17      2       18   2   1   1   3   2   3    1    1  ...    2    1    2    1
18      2       19   2   2   2   1   2   3    2    1  ...    1    2    1    3

    GNL  SPH  SPA  SPL  PN  OR
0     3    2    2    3   4   4
1     4    3    3    4   5   5
2     4    4    3    5   3   2
3     4    4    4    1   2   2
4     3    4    3    3   4   4
5     3    2    4    4   3   3
6     2    2    2    3   4   5
7     3    3    2    4   2   3
8     3    5    3    5   1   4
9     3    2    3    3   3   3
10    4    3    3    2   5   4
11    3    4    4    4   3   4
12    3    3    3    4   3   4
13    2    1    4    2   3   4
14    3    2    4    3   4   3
15    2    2    1    2   1   4
16    2    3    1    3   1   3
17    2    4    2    4   1   1
18    2    4    4    4   3   4

[19 rows x 22 columns]

MEAN OF IMAGE 2

In [ ]:
df2 = df[["PH","PA","PL" ,"BH", "BA" ,"BL", "MBH", "MBA", "MBL", "GBH", "GBA" ,"GBL", "GNH" ,"GNA" ,"GNL" ,"SPH", "SPA", "SPL", "PN" ,"OR"]].mean()
print(df2)

PH     3.105263
PA     3.105263
PL     3.210526
BH     2.210526
BA     2.421053
BL     3.368421
MBH    2.105263
MBA    2.000000
MBL    2.263158
GBH    1.789474
GBA    1.368421
GBL    1.842105
GNH    2.789474
GNA    3.000000
GNL    2.894737
SPH    3.000000
SPA    2.894737
SPL    3.315789
PN     2.894737
OR     3.473684
dtype: float64

DATA OF IMAGE 4

In [ ]:
df=data_img.loc[data_img['Image'] == 4]
print(df)

    Image  Subject  PH  PA  PL  BH  BA  BL  MBH  MBA  ...  GBA  GBL  GNH  GNA  \
19      4       20   1   1   2   3   3   3    1    1  ...    1    1    2    3
20      4       21   1   1   2   1   1   3    2    3  ...    2    2    2    4
21      4       22   1   1   2   2   2   2    2    3  ...    2    3    2    2
22      4       23   1   1   2   2   2   2    2    3  ...    2    3    2    2
23      4       24   5   3   5   3   1   4    2    1  ...    1    1    1    4
24      4       25   2   3   4   3   3   5    1    3  ...    1    2    1    1
25      4       26   2   4   4   3   3   4    1    2  ...    2    3    2    2
26      4       27   2   4   5   1   2   3    1    4  ...    1    1    2    3
27      4       28   5   4   1   1   4   3    2    1  ...    5    1    1    4
28      4       29   4   3   5   2   1   2    3    2  ...    1    1    2    4
29      4       30   1   3   3   1   1   2    2    3  ...    2    3    2    2
30      4       31   2   2   1   3   3   1    2    2  ...    2    2    2    2
31      4       32   1   1   2   1   1   2    1    2  ...    1    1    1    2
32      4       33   1   1   3   2   3   3    2    2  ...    1    3    2    2
33      4       34   3   3   5   4   4   5    1    2  ...    1    1    1    2
34      4       35   1   1   2   2   1   1    1    2  ...    1    1    2    4

    GNL  SPH  SPA  SPL  PN  OR
19    3    2    3    4   4   4
20    4    2    4    3   4   3
21    3    2    2    3   4   4
22    3    2    2    3   4   4
23    1    2    1    3   4   4
24    2    1    1    2   4   4
25    3    2    2    4   4   5
26    4    3    3    4   4   5
27    3    3    2    3   5   3
28    3    3    3    4   5   5
29    3    3    4    4   4   5
30    2    3    2    1   2   1
31    2    2    2    3   4   5
32    3    2    2    2   3   4
33    3    2    3    4   4   5
34    4    2    3    4   5   5

[16 rows x 22 columns]

MEAN OF IMAGE 4

In [ ]:
df2 = df[["PH","PA","PL" ,"BH", "BA" ,"BL", "MBH", "MBA", "MBL", "GBH", "GBA" ,"GBL", "GNH" ,"GNA" ,"GNL" ,"SPH", "SPA", "SPL", "PN" ,"OR"]].mean()
print(df2)

PH     2.0625
PA     2.2500
PL     3.0000
BH     2.1250
BA     2.1875
BL     2.8125
MBH    1.6250
MBA    2.2500
MBL    2.7500
GBH    1.2500
GBA    1.6250
GBL    1.8125
GNH    1.6875
GNA    2.6875
GNL    2.8750
SPH    2.2500
SPA    2.4375
SPL    3.1875
PN     4.0000
OR     4.1250
dtype: float64

DATA OF IMAGE 16

In [ ]:
df=data_img.loc[data_img['Image'] == 16]
print(df)

    Image  Subject  PH  PA  PL  BH  BA  BL  MBH  MBA  ...  GBA  GBL  GNH  GNA  \
35     16       36   2   3   2   2   3   2    1    1  ...    1    1    2    3
36     16       37   4   4   4   3   1   2    1    2  ...    1    1    3    3
37     16       38   5   4   2   3   3   5    1    1  ...    1    1    2    2
38     16       39   5   5   4   3   4   5    2    3  ...    2    2    3    4
39     16       40   1   3   1   3   2   3    1    1  ...    1    2    3    4
40     16       41   4   3   4   2   2   4    2    1  ...    1    1    3    4
41     16       42   4   3   3   2   3   3    1    2  ...    1    1    2    2
42     16       43   1   4   3   1   1   2    1    3  ...    1    2    4    2
43     16       44   5   4   4   4   1   2    1    1  ...    1    1    2    2
44     16       45   5   4   4   2   1   3    1    1  ...    1    2    4    3
45     16       46   2   5   2   1   1   1    1    2  ...    1    1    3    3
46     16       47   3   2   2   2   3   4    1    2  ...    1    1    4    3
47     16       48   1   5   1   1   1   3    1    1  ...    1    1    4    5
48     16       49   3   4   1   2   2   4    2    3  ...    1    2    3    2
49     16       50   1   1   2   1   2   3    1    1  ...    1    1    2    3

    GNL  SPH  SPA  SPL  PN  OR
35    3    3    3    4   4   5
36    3    3    4    4   2   3
37    3    2    3    3   4   3
38    4    4    4    5   5   5
39    2    1    3    1   2   1
40    3    2    2    3   3   3
41    3    2    3    3   2   4
42    5    4    2    4   3   5
43    3    3    3    4   4   5
44    4    3    2    2   3   4
45    3    3    3    3   4   4
46    3    2    2    3   4   4
47    5    3    4    3   3   3
48    2    1    3    3   3   5
49    3    1    2    2   3   4

[15 rows x 22 columns]

MEAN OF IMAGE 16

In [ ]:
df2 = df[["PH","PA","PL" ,"BH", "BA" ,"BL", "MBH", "MBA", "MBL", "GBH", "GBA" ,"GBL", "GNH" ,"GNA" ,"GNL" ,"SPH", "SPA", "SPL", "PN" ,"OR"]].mean()
print(df2)

PH     3.066667
PA     3.600000
PL     2.600000
BH     2.133333
BA     2.000000
BL     3.066667
MBH    1.200000
MBA    1.666667
MBL    2.533333
GBH    1.133333
GBA    1.066667
GBL    1.333333
GNH    2.933333
GNA    3.000000
GNL    3.266667
SPH    2.466667
SPA    2.866667
SPL    3.133333
PN     3.266667
OR     3.866667
dtype: float64

DATA OF IMAGE 18

In [ ]:
df=data_img.loc[data_img['Image'] == 18]
print(df)

    Image  Subject  PH  PA  PL  BH  BA  BL  MBH  MBA  ...  GBA  GBL  GNH  GNA  \
50     18       51   1   2   2   1   1   1    1    1  ...    1    1    2    2
51     18       52   2   4   3   2   2   2    1    1  ...    2    1    3    3
52     18       53   1   2   3   3   3   3    1    2  ...    2    2    2    3
53     18       54   2   5   4   4   5   5    2    2  ...    1    1    3    3
54     18       55   5   4   4   3   5   5    1    2  ...    1    1    3    3
55     18       56   4   4   4   2   3   3    2    1  ...    1    1    2    2
56     18       57   1   4   4   1   1   3    2    1  ...    1    1    2    2
57     18       58   5   3   4   2   2   3    2    1  ...    1    1    2    4
58     18       59   2   3   4   1   1   5    1    2  ...    1    1    3    4
59     18       60   1   1   3   1   2   2    1    2  ...    2    2    3    4
60     18       61   5   5   4   3   3   4    1    2  ...    2    1    4    5
61     18       62   2   2   3   1   1   3    1    2  ...    1    1    2    2
62     18       63   1   3   2   4   3   4    3    3  ...    1    4    3    3
63     18       64   5   4   5   4   4   4    2    3  ...    1    3    3    4
64     18       65   3   3   4   3   4   3    2    3  ...    3    3    2    2
65     18       66   3   3   4   2   3   3    3    4  ...    3    3    4    4
66     18       67   5   5   5   4   4   4    2    2  ...    1    2    2    2
67     18       68   3   3   3   4   4   3    3    4  ...    2    3    1    5
68     18       69   2   4   5   1   2   3    1    2  ...    1    1    2    2

    GNL  SPH  SPA  SPL  PN  OR
50    2    2    2    2   2   2
51    3    3    1    4   4   2
52    4    3    1    3   4   4
53    3    3    3    4   4   5
54    4    2    4    4   2   4
55    2    2    3    3   3   3
56    2    1    2    3   3   3
57    3    2    2    3   3   4
58    5    4    3    5   5   4
59    3    4    3    4   5   3
60    3    4    5    5   5   5
61    3    2    2    3   3   4
62    4    2    4    3   2   3
63    4    4    3    4   5   5
64    3    2    2    4   3   5
65    4    3    4    3   4   4
66    3    2    2    3   4   3
67    4    3    3    2   3   3
68    4    4    3    4   4   4

[19 rows x 22 columns]

MEAN OF IMAGE 18

In [ ]:
df2 = df[["PH","PA","PL" ,"BH", "BA" ,"BL", "MBH", "MBA", "MBL", "GBH", "GBA" ,"GBL", "GNH" ,"GNA" ,"GNL" ,"SPH", "SPA", "SPL", "PN" ,"OR"]].mean()
print(df2)

PH     2.789474
PA     3.368421
PL     3.684211
BH     2.421053
BA     2.789474
BL     3.315789
MBH    1.684211
MBA    2.105263
MBL    2.631579
GBH    1.526316
GBA    1.473684
GBL    1.736842
GNH    2.526316
GNA    3.105263
GNL    3.315789
SPH    2.736842
SPA    2.736842
SPL    3.473684
PN     3.578947
OR     3.684211
dtype: float64

DATA OF IMAGE 19

In [ ]:
df=data_img.loc[data_img['Image'] == 19]
print(df)

    Image  Subject  PH  PA  PL  BH  BA  BL  MBH  MBA  ...  GBA  GBL  GNH  GNA  \
69     19       70   4   1   3   2   4   2    2    2  ...    1    1    3    3
70     19       71   3   4   4   3   4   4    3    3  ...    1    2    1    2
71     19       72   3   4   4   3   3   2    1    2  ...    1    1    3    3
72     19       73   2   5   4   4   3   3    3    4  ...    1    2    4    4
73     19       74   4   3   5   2   2   3    1    2  ...    1    2    2    2
74     19       75   2   2   3   2   1   3    1    1  ...    1    1    1    2
75     19       76   2   3   3   3   3   3    2    1  ...    3    3    3    3
76     19       77   2   2   2   2   3   1    1    1  ...    1    1    3    1
77     19       78   3   4   3   4   5   3    1    2  ...    1    1    3    2
78     19       79   5   5   3   1   4   5    1    3  ...    1    2    3    3
79     19       80   4   5   2   3   4   4    3    4  ...    2    3    4    4
80     19       81   2   5   3   4   3   5    1    2  ...    1    2    2    3
81     19       82   3   3   1   3   3   3    1    2  ...    1    2    1    2
82     19       83   2   5   5   2   3   4    1    2  ...    1    1    3    3
83     19       84   3   4   5   2   3   1    1    1  ...    1    1    2    3
84     19       85   2   4   5   3   3   4    2    1  ...    1    1    3    3
85     19       86   2   3   4   3   4   5    2    2  ...    1    1    3    4

    GNL  SPH  SPA  SPL  PN  OR
69    3    2    3    4   4   5
70    2    1    2    3   3   5
71    4    3    3    4   4   4
72    4    4    5    5   5   5
73    3    3    3    4   4   3
74    2    2    1    2   2   2
75    3    3    1    2   4   4
76    2    2    1    2   2   1
77    2    3    3    3   4   4
78    2    3    3    4   4   5
79    4    4    4    4   5   5
80    2    3    5    5   3   5
81    2    2    3    3   3   3
82    4    2    4    4   4   4
83    4    2    4    5   4   3
84    4    2    3    3   5   5
85    3    5    4    5   4   5

[17 rows x 22 columns]

MEAN OF IMAGE 19

In [ ]:
df2 = df[["PH","PA","PL" ,"BH", "BA" ,"BL", "MBH", "MBA", "MBL", "GBH", "GBA" ,"GBL", "GNH" ,"GNA" ,"GNL" ,"SPH", "SPA", "SPL", "PN" ,"OR"]].mean()
print(df2)

PH     2.823529
PA     3.647059
PL     3.470588
BH     2.705882
BA     3.235294
BL     3.235294
MBH    1.588235
MBA    2.058824
MBL    2.352941
GBH    1.000000
GBA    1.176471
GBL    1.588235
GNH    2.588235
GNA    2.764706
GNL    2.941176
SPH    2.705882
SPA    3.058824
SPL    3.647059
PN     3.764706
OR     4.000000
dtype: float64

DATA OF IMAGE 20

In [ ]:
df=data_img.loc[data_img['Image'] == 20]
print(df)

    Image  Subject  PH  PA  PL  BH  BA  BL  MBH  MBA  ...  GBA  GBL  GNH  GNA  \
86     20       87   3   3   3   2   2   4    1    2  ...    1    1    3    3
87     20       88   1   2   2   1   2   3    1    1  ...    1    1    2    2
88     20       89   2   2   2   1   2   4    1    2  ...    1    1    2    2
89     20       90   2   3   3   2   3   3    1    1  ...    1    1    2    3
90     20       91   2   2   1   1   1   1    1    2  ...    1    1    2    3
91     20       92   1   1   2   1   1   1    3    2  ...    1    2    2    2
92     20       93   4   3   4   2   1   3    1    2  ...    1    1    2    2
93     20       94   3   2   4   1   1   3    1    1  ...    1    1    2    2
94     20       95   2   2   2   2   1   2    2    1  ...    1    1    2    3
95     20       96   3   1   3   2   2   2    1    1  ...    1    1    1    2

    GNL  SPH  SPA  SPL  PN  OR
86    3    2    4    4   4   5
87    2    2    2    2   2   3
88    3    2    3    3   4   5
89    3    3    3    4   4   4
90    3    2    3    3   3   4
91    1    2    2    2   3   3
92    2    2    3    4   3   5
93    2    3    3    3   3   5
94    3    3    3    3   3   5
95    2    2    3    2   3   4

[10 rows x 22 columns]

MEAN OF IMAGE 20

In [ ]:
df2 = df[["PH","PA","PL" ,"BH", "BA" ,"BL", "MBH", "MBA", "MBL", "GBH", "GBA" ,"GBL", "GNH" ,"GNA" ,"GNL" ,"SPH", "SPA", "SPL", "PN" ,"OR"]].mean()
print(df2)

PH     2.3
PA     2.1
PL     2.6
BH     1.5
BA     1.6
BL     2.6
MBH    1.3
MBA    1.5
MBL    1.8
GBH    1.1
GBA    1.0
GBL    1.1
GNH    2.0
GNA    2.4
GNL    2.4
SPH    2.3
SPA    2.9
SPL    3.0
PN     3.2
OR     4.3
dtype: float64

DATA OF IMAGE 24

In [ ]:
df=data_img.loc[data_img['Image'] == 24]
print(df)

     Image  Subject  PH  PA  PL  BH  BA  BL  MBH  MBA  ...  GBA  GBL  GNH  \
96      24       97   2   2   2   3   3   3    1    1  ...    1    1    2
97      24       98   1   1   2   3   1   2    1    2  ...    1    1    2
98      24       99   3   3   3   2   2   2    2    2  ...    2    3    4
99      24      100   2   5   5   4   3   4    1    2  ...    2    2    2
100     24      101   3   4   5   3   2   1    2    1  ...    1    3    2
101     24      102   3   3   4   2   3   4    2    1  ...    1    2    2
102     24      103   4   4   5   5   4   4    1    2  ...    1    2    3
103     24      104   1   2   2   2   2   2    1    1  ...    1    1    3
104     24      105   1   3   2   1   1   2    2    3  ...    2    3    3
105     24      106   1   2   2   1   1   4    1    4  ...    2    3    2
106     24      107   2   2   2   1   1   2    3    3  ...    2    3    3
107     24      108   5   5   4   2   3   3    1    2  ...    1    1    4
108     24      109   2   2   3   2   1   2    1    2  ...    1    2    2
109     24      110   4   5   5   2   2   2    2    2  ...    1    1    2
110     24      111   2   2   5   1   1   1    2    1  ...    1    1    3
111     24      112   1   3   4   2   4   3    1    2  ...    1    2    4
112     24      113   2   2   3   3   4   3    1    1  ...    1    1    2

     GNA  GNL  SPH  SPA  SPL  PN  OR
96     2    2    2    2    2   3   4
97     2    2    1    2    2   3   4
98     4    3    4    4    4   5   5
99     2    3    2    3    3   5   5
100    2    2    2    3    4   4   4
101    3    3    2    3    4   3   5
102    3    3    3    4    4   4   5
103    3    3    3    2    3   3   4
104    4    4    3    4    4   5   5
105    3    3    2    2    3   4   5
106    3    3    2    2    2   4   5
107    3    3    3    2    4   4   4
108    3    4    4    4    4   5   5
109    2    3    2    2    2   4   5
110    3    3    2    2    2   5   5
111    3    5    3    4    3   4   5
112    3    3    2    3    5   4   5

[17 rows x 22 columns]

MEAN OF IMAGE 24

In [ ]:
df2 = df[["PH","PA","PL" ,"BH", "BA" ,"BL", "MBH", "MBA", "MBL", "GBH", "GBA" ,"GBL", "GNH" ,"GNA" ,"GNL" ,"SPH", "SPA", "SPL", "PN" ,"OR"]].mean()
print(df2)

PH     2.294118
PA     2.941176
PL     3.411765
BH     2.294118
BA     2.235294
BL     2.588235
MBH    1.470588
MBA    1.882353
MBL    2.764706
GBH    1.352941
GBA    1.294118
GBL    1.882353
GNH    2.647059
GNA    2.823529
GNL    3.058824
SPH    2.470588
SPA    2.823529
SPL    3.235294
PN     4.058824
OR     4.705882
dtype: float64

DATA OF IMAGE 28

In [ ]:
df=data_img.loc[data_img['Image'] == 28]
print(df)

     Image  Subject  PH  PA  PL  BH  BA  BL  MBH  MBA  ...  GBA  GBL  GNH  \
113     28      114   3   1   3   2   4   4    1    3  ...    1    3    1
114     28      115   2   2   3   1   1   2    1    2  ...    1    2    2
115     28      116   2   2   3   1   1   2    1    1  ...    1    1    2
116     28      117   1   1   3   1   1   1    1    1  ...    1    1    1
117     28      118   3   3   2   3   4   2    2    4  ...    2    1    1
118     28      119   3   4   2   3   1   1    1    1  ...    3    1    1
119     28      120   3   4   2   4   3   4    1    3  ...    1    1    2
120     28      121   3   2   1   1   3   2    2    3  ...    1    1    2
121     28      122   1   1   1   1   1   1    1    1  ...    1    1    2
122     28      123   1   2   4   2   1   2    2    2  ...    1    1    1
123     28      124   3   1   5   4   5   3    2    2  ...    1    1    2
124     28      125   2   2   4   4   3   2    1    1  ...    1    1    4
125     28      126   2   2   3   1   1   2    1    1  ...    1    1    1
126     28      127   2   3   3   1   2   2    2    2  ...    1    1    2
127     28      128   1   1   5   3   2   2    1    2  ...    1    2    2

     GNA  GNL  SPH  SPA  SPL  PN  OR
113    1    1    1    2    2   3   5
114    2    3    1    3    3   4   4
115    3    3    2    3    3   3   3
116    1    1    1    1    2   3   4
117    3    1    3    2    2   3   3
118    3    3    2    1    1   4   1
119    2    2    2    2    3   3   4
120    1    2    3    2    3   2   2
121    2    3    2    1    3   3   4
122    1    2    2    2    2   3   4
123    3    5    3    2    3   5   5
124    4    5    4    4    4   5   5
125    1    1    1    2    2   3   4
126    2    1    1    2    2   4   4
127    2    5    2    3    3   3   4

[15 rows x 22 columns]

MEAN OF IMAGE 28

In [ ]:
df2 = df[["PH","PA","PL" ,"BH", "BA" ,"BL", "MBH", "MBA", "MBL", "GBH", "GBA" ,"GBL", "GNH" ,"GNA" ,"GNL" ,"SPH", "SPA", "SPL", "PN" ,"OR"]].mean()
print(df2)

PH     2.133333
PA     2.066667
PL     2.933333
BH     2.133333
BA     2.200000
BL     2.133333
MBH    1.333333
MBA    1.933333
MBL    2.600000
GBH    1.266667
GBA    1.200000
GBL    1.266667
GNH    1.733333
GNA    2.066667
GNL    2.533333
SPH    2.000000
SPA    2.133333
SPL    2.533333
PN     3.400000
OR     3.733333
dtype: float64

DATA OF IMAGE 42

In [ ]:
df=data_img.loc[data_img['Image'] == 42]
print(df)

     Image  Subject  PH  PA  PL  BH  BA  BL  MBH  MBA  ...  GBA  GBL  GNH  \
128     42      129   2   2   3   4   2   5    5    3  ...    3    4    3
129     42      130   2   4   4   4   5   5    2    2  ...    2    3    3
130     42      131   1   1   1   1   2   3    5    2  ...    2    4    4
131     42      132   2   3   3   1   5   4    1    2  ...    1    2    3
132     42      133   3   4   4   3   4   4    3    3  ...    2    3    2
133     42      134   3   4   4   4   5   5    3    3  ...    2    3    4
134     42      135   2   2   5   1   1   3    4    4  ...    3    3    3
135     42      136   3   3   3   1   2   2    3    1  ...    3    2    2
136     42      137   1   3   3   2   4   4    4    2  ...    1    2    3
137     42      138   1   1   2   1   1   4    1    2  ...    1    3    4
138     42      139   1   2   2   1   1   3    5    4  ...    2    4    1
139     42      140   5   5   3   4   4   4    3    3  ...    2    2    3
140     42      141   2   1   4   2   2   4    3    3  ...    2    3    4
141     42      142   4   3   4   4   3   4    3    3  ...    3    3    4
142     42      143   3   2   5   4   5   5    2    3  ...    2    2    5
143     42      144   3   4   5   3   4   4    3    3  ...    2    4    3

     GNA  GNL  SPH  SPA  SPL  PN  OR
128    3    5    4    1    1   5   4
129    2    3    3    3    3   4   4
130    5    5    3    2    4   5   3
131    3    3    3    3    4   3   3
132    3    4    3    4    3   3   4
133    4    3    4    4    4   5   5
134    4    4    4    2    4   4   3
135    4    1    2    1    3   3   1
136    4    3    3    2    3   3   1
137    3    4    3    2    5   3   5
138    3    3    3    3    4   4   4
139    4    4    2    4    5   5   5
140    4    4    3    4    4   4   4
141    3    3    3    3    1   4   3
142    5    5    4    5    4   5   5
143    4    4    5    3    5   2   5

[16 rows x 22 columns]

MEAN OF IMAGE 42

In [ ]:
df2 = df[["PH","PA","PL" ,"BH", "BA" ,"BL", "MBH", "MBA", "MBL", "GBH", "GBA" ,"GBL", "GNH" ,"GNA" ,"GNL" ,"SPH", "SPA", "SPL", "PN" ,"OR"]].mean()
print(df2)

PH     2.3750
PA     2.7500
PL     3.4375
BH     2.5000
BA     3.1250
BL     3.9375
MBH    3.1250
MBA    2.6875
MBL    3.0625
GBH    1.8750
GBA    2.0625
GBL    2.9375
GNH    3.1875
GNA    3.6250
GNL    3.6250
SPH    3.2500
SPA    2.8750
SPL    3.5625
PN     3.8750
OR     3.6875
dtype: float64

DATA OF IMAGE 47

In [ ]:
df=data_img.loc[data_img['Image'] == 47]
print(df)

     Image  Subject  PH  PA  PL  BH  BA  BL  MBH  MBA  ...  GBA  GBL  GNH  \
144     47      145   4   3   3   2   2   2    2    2  ...    1    3    2
145     47      146   2   2   2   2   2   2    2    2  ...    1    2    3
146     47      147   2   3   3   3   3   4    2    3  ...    3    3    4
147     47      148   3   2   4   3   3   4    2    3  ...    1    1    2
148     47      149   2   4   3   3   3   4    2    1  ...    1    1    2
149     47      150   3   2   4   1   1   3    1    1  ...    1    1    3
150     47      151   4   4   5   4   1   3    1    3  ...    1    1    5
151     47      152   1   1   2   2   1   2    1    3  ...    1    2    3
152     47      153   3   4   4   2   2   3    1    2  ...    1    3    4
153     47      154   3   4   2   1   2   3    1    2  ...    1    1    1
154     47      155   3   2   2   1   1   2    1    2  ...    1    1    2
155     47      156   1   1   2   1   1   1    1    2  ...    1    3    1
156     47      157   3   2   3   2   3   3    2    3  ...    1    2    4
157     47      158   3   5   4   1   1   2    1    1  ...    1    1    4
158     47      159   3   1   4   1   1   2    2    2  ...    2    2    3
159     47      160   1   1   2   1   1   1    1    3  ...    2    1    4
160     47      161   1   3   3   2   1   1    2    3  ...    3    3    2

     GNA  GNL  SPH  SPA  SPL  PN  OR
144    3    2    2    4    3   4   3
145    4    3    4    3    4   3   3
146    5    5    4    4    5   5   5
147    3    4    2    5    4   3   3
148    3    3    1    2    3   3   5
149    3    2    4    5    4   3   3
150    4    5    5    3    5   4   5
151    4    4    2    5    3   5   4
152    4    4    5    4    4   5   5
153    2    2    3    3    5   3   5
154    3    3    3    4    4   3   3
155    3    3    3    3    4   2   5
156    5    5    5    5    5   5   5
157    3    4    2    5    4   4   5
158    4    4    4    3    4   4   4
159    3    3    1    3    3   4   2
160    4    3    2    4    4   5   5

[17 rows x 22 columns]

MEAN OF IMAGE 47

In [ ]:
df2 = df[["PH","PA","PL" ,"BH", "BA" ,"BL", "MBH", "MBA", "MBL", "GBH", "GBA" ,"GBL", "GNH" ,"GNA" ,"GNL" ,"SPH", "SPA", "SPL", "PN" ,"OR"]].mean()
print(df2)

PH     2.470588
PA     2.588235
PL     3.058824
BH     1.882353
BA     1.705882
BL     2.470588
MBH    1.470588
MBA    2.235294
MBL    2.705882
GBH    1.294118
GBA    1.352941
GBL    1.823529
GNH    2.882353
GNA    3.529412
GNL    3.470588
SPH    3.058824
SPA    3.823529
SPL    4.000000
PN     3.823529
OR     4.117647
dtype: float64